---
import Footer from '../components/Footer/index.jsx';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';

const { content } = Astro.props;
---

<html lang={content.lang || 'es'}>
	<head>
		<MainHead title={content.title} description={content.description} />
		<style lang="scss">
			.hero {
				padding: 2rem;
				display: flex;
				background-color: var(--t-fg);
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 25vw;
				color: white;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.tag {
				margin-left: 0.5em;
				margin-right: 0.5em;
				text-transform: uppercase;

				&:nth-of-type(1n) {
					color: var(--c-green);
				}
				&:nth-of-type(2n) {
					color: var(--c-orange);
				}
				&:nth-of-type(3n) {
					color: var(--c-blue);
				}
				&:nth-of-type(4n) {
					color: var(--c-pink);
				}
			}

			.title {
				font-size: var(--f-u5);
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.0625em;
				text-shadow: 0 0 10px rgba(0, 0, 0, 1);
			}

			.leadIn {
				color: var(--t-bg);
				background-color: var(--t-fg);
			}

			.tagline {
				font-weight: 300;
				font-size: var(--f-u3);
				line-height: 1.5;
			}

			.content {
				font-size: var(--f-u1);
				line-height: 2.2;
			}

			footer a {
				border: 2px solid var(--c-white);
				border-radius: 2rem;
				padding: 0.5rem 1rem;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<Nav />
		<header style={`background-image:url(${content.img})`} class="hero">
			<h3 class="title">{content.title}</h3>
		</header>
		<div class="leadIn">
			<div class="wrapper pt8 pb8 mb8">
				{content.tags.map((t) => <span class="tag">{t}</span>)}
				<h3 class="tagline">{content.description}</h3>
			</div>
		</div>
		<div class="wrapper wrapper__readable">
			<div class="content"><slot /></div>
		</div>
		<footer class="tac mt12">
			<a href="/blog">
				Ver más publicaciones
			</a>
		</footer>
		<Footer />
	</body>
</html>
